ruoyi-admin/src/main/resources/schema/subscribe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dc.com/ws/subscribe"
           targetNamespace="http://www.dc.com/ws/subscribe" elementFormDefault="qualified">

    <!-- 通用返回实体 -->
    <xs:complexType name="result">
        <xs:sequence>
            <xs:element name="code" type="xs:int"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 数据分类实体 -->
    <xs:complexType name="dataCategory">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="category" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 数据分类数组实体 -->
    <xs:complexType name="dataCategoryArray">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="dataCategory" type="tns:dataCategory"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfString">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 火车车站实体 -->
    <xs:complexType name="trainDetailInfo">
        <xs:sequence>
            <xs:element name="trainStation" type="xs:string"/>
            <xs:element name="arriveTime" type="xs:string"/>
            <xs:element name="startTime" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 火车车站数组实体 -->
    <xs:complexType name="trainDetailInfoArray">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="trainDetailInfo" type="tns:trainDetailInfo"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 支持数据分类请求 -->
    <xs:element name="supportDataCategoryRequest">
        <xs:complexType/>
    </xs:element>

    <!-- 支持数据分类响应 -->
    <xs:element name="supportDataCategoryResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:result">
                    <xs:sequence>
                        <xs:element name="data" type="tns:dataCategoryArray"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- 订阅请求 -->
    <xs:element name="subscribeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="subscribe" type="tns:dataCategoryArray"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- 订阅响应 -->
    <xs:element name="subscribeResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:result">
                    <xs:sequence>
                        <xs:element name="data" type="tns:dataCategoryArray"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- 退订请求 -->
    <xs:element name="unsubscribeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="subscribe" type="tns:dataCategoryArray"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- 退订响应 -->
    <xs:element name="unsubscribeResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:result">
                    <xs:sequence>
                        <xs:element name="data" type="tns:dataCategoryArray"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- 查询已订阅请求 -->
    <xs:element name="getSubscribeListRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- 查询已订阅响应 -->
    <xs:element name="getSubscribeListResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:result">
                    <xs:sequence>
                        <xs:element name="data" type="tns:dataCategoryArray"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- 根据城市或地区名称查询天气情请求 -->
    <xs:element name="getWeatherbyCityNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="theCityName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- 根据城市或地区名称查询天气情响应 -->
    <xs:element name="getWeatherbyCityNameResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:result">
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="getWeatherbyCityNameResult" type="tns:ArrayOfString"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- 根据车次查询列车经由车站明细请求 -->
    <xs:element name="getDetailInfoByTrainCodeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="TrainCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- 根据车次查询列车经由车站明细响应 -->
    <xs:element name="getDetailInfoByTrainCodeResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:result">
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="data" type="tns:trainDetailInfoArray"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

</xs:schema>